// Custom Style Formats:
.text-sm {
	font-size: rem(14);
}

.text-md {
	font-size: rem(18);
}

.text-lg {
	font-size: rem(22);

	@include min(lg) {
		font-size: rem(24);
	}
}

.text-uppercase {
	text-transform: uppercase;
}

// simple link (e.g. inside post/page content)
%link {
	color: $green;
	text-decoration: none;

	@include hover {
		color: $primary;
		text-decoration: underline;
	}
}

.blockquote {
	font-size: rem(20);
	margin: rem(50 30);

	p {
		font-weight: 700;
	}

	cite {
		display: block;
		color: $w;
		font-weight: 400;
		font-style: normal;
		margin-top: rem(16);
		margin-bottom: 0;
	}
}

// Styles for formatted text (e.g. post/page content, WYSIWYG custom fields)
.editor {
	> *:last-child {
		margin-bottom: 0;
	}

	@include headings {
		margin-top: rem(20);

		&:first-child {
			margin-top: 0;
		}
	}

	a:not([class]) {
		@extend %link;
	}
}
