// Fluid-responsive font-size calculator
// @link https://websemantics.uk/tools/responsive-font-calculator/
// clamp browser width: from 575px to 1440px

@include headings {
	min-height: 0vw; // safari fix
	font-family: $font-heading;
	font-weight: 400;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 0.75em;

	a {
		color: inherit;
	}
}

h1,
.h1 {
	font-size: clamp-rem(33, 56);
}

h2,
.h2 {
	font-size: clamp-rem(29, 36);
}

h3,
.h3 {
	font-size: clamp-rem(25, 30);
}

h4,
.h4 {
	font-size: clamp-rem(20, 24);
}

h5,
.h5 {
	font-size: clamp-rem(17, 18);
}

h6,
.h6 {
	font-size: rem(14);
}
