.breadcrumbs {
	color: $grey;
	font-size: rem(18);
	//margin-bottom: rem(30);
	padding-top: rem(20);
	a {
		color: inherit;
		margin-right: rem(2);

		&:hover {
			color: $color-text;
		}
	}

	span {
		span {
			span {
				display: inline;
				margin-left: rem(3);
			}
		}
	}

	.breadcrumb_last {
		color: $color-text;
	}

	p {
		margin: 0;
	}

	.separator {
		display: inline-block;
		margin: rem(0 5);

		@include min(md) {
			margin: rem(0 10);
		}
	}
}
