.socials {
	display: flex;
	align-items: center;
	gap: rem(24);

	&__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: $w;

		&:hover {
			color: $primary;
		}

		svg {
			width: rem(16);
			height: rem(16);
			fill: currentColor;

			&.icon-facebook {
				width: rem(14);
			}
		}
	}
}
