// To top button
#to-top {
	@include tr;
	display: inline-flex;
	background-color: $primary;
	width: rem(44);
	height: rem(44);
	border-radius: $radius;
	cursor: pointer;
	position: fixed;
	bottom: rem(30);
	right: rem(30);
	opacity: 0;
	visibility: hidden;
	z-index: 90;

	&:hover {
		background-color: $primary-hover;
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}

	svg {
		width: rem(44);
		height: rem(44);
		fill: $w;
	}
}
