.login {
	form {
		margin-top: 0;
	}

	h1 {
		a {
			width: 250px;
			height: 250px;
			background-image: url('../img/logo.svg'); // client's logo
			background-size: contain;
			margin-bottom: 15px;
		}
	}
}

