// Base blocks
.c-block {

	&--padding {
		padding: rem(45 0 50);

		@include min(lg) {
			padding: rem(70 0);
		}
	}
}

// Title
.c-title {
	display: block;
	margin-bottom: 1em;
}

// Image
.c-image {
	display: block;
	line-height: 0;
	position: relative;

	img {
		width: 100%;
	}
}
